.CodeMirror-textarea {
  min-height: 200px;
  font-size: 16px;
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
  border: none; /* Remove textarea border */
}